*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.navbar {
  background-color: white;
}
.navbar-logo {
  height: auto;
  width: 10%;
}

.nav-items {
  gap: 20%;
}

.nav-link {
  font-size: 18px;
  color: black !important;
}
.nav-link:hover {
  color: red !important;
}

.nav-btn1 {
  font-size: 18px;
  border: 1px solid rgb(179, 179, 179);
  background-color: transparent;
  color: red;
  border-radius: 20px;
  font-weight: 500;
  gap: 4% !important;
  padding: 10px 18px;
}
.nav-btn1>img{
  color: red !important;
}
.nav-btn1:hover {
  border: 1px solid red;
  color: black;
}
body{
    font-family: "Montserrat", sans-serif;
}
header{
    
    padding-top:150px;
}
header h1{
    max-width: 250px;
    text-align: center;
    font-size: 2rem;
   
}
header p{
    font-size: 1.5rem;
}
header button, footer button{
    background-color: #ed1c24;
    font-size: 1rem;
    font-weight: 600;
    color:white;
    padding:10px 20px;
    border-radius: 20px;
    border: 1px solid ;
}





.p-fix{
    max-width: 35ch;
    width: 100%;
}
.h-fix{
    max-width: 13ch;
    width: 100%;
}
footer{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:40px; */
}



     h3 {
        font-size: 0.75rem;
    }


    @media (max-width:769px) {
.img-fix{
  width:400px !important
}

    }

@media (max-width:425px) {
.h-fix{
  width: 100% !important;
  max-width: 100% !important;
  padding: 0 20px;
  font-size: 1.5rem;
}
.p-fix{
  width:100%;
  max-width: 100%;
  padding: 0 20px;

}
.foot{
  font-size: 0.7rem;
}
  
}